.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 9px;
}

.icon {
    width: 7px;
    height: 7px;
    margin-left: 2px;
}

@media (min-width: 900px) {
    .icon {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    .container {
        width: 150px;
        font-size: 14px;
    }
}