.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 12px;
}

.icon {
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

@media (min-width: 900px) {
    .icon {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    .container {
        width: 100px;
    }
}