.container {
    background-color: #8eed4d;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 9px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.icon {
    width: 7px;
    height: 7px;
    margin-left: 2px;
}

@media (min-width: 900px) {
    .icon {
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    .container {
        width: 150px;
        font-size: 14px;
    }
}
