.home {
    display: flex;
    flex-direction: column;
}

table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-collapse: separate;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

@media (min-width: 900px) {
    table {
        border-collapse: collapse;
    }
    th, td {
        /* border-bottom: 1px #8eed4d solid; */
        padding: 10px 0 10px;
    }
}