.home {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 5px;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}