.container {
    /* display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px; */
}

@media (min-width: 900px) {
    .container {
        font-size: 24px;
    }
}