.search {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    width: 75%;
}

.container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    border-radius: 10px;
    padding: 0 10px 0;
}

.icon__search {
    width: 25px;
    height: 25px;
}

.icon__close {
    width: 20px;
    height: 20px;
}

.button__close {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

@media (min-width: 900px) {
    .search {
        width: 90%;
        padding-left: 20px;
    }
}