.search {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 75%;
}

.container__right {
    display: flex;
}
.cart__counter {
    pointer-events: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -5px;
}

.container__search {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px 0;
}

::placeholder {
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.icon__search {
    width: 25px;
    height: 25px;
}

.icon__close {
    width: 20px;
    height: 20px;
}

.icon__cart {
    width: 40px;
    height: 40px;
}

.icon__theme {
    transition: all 1000ms;
    width: 40px;
    height: 40px;
}

.button__theme:hover {
    transform: translateY(-3px) scale(1.1);
}

.button__theme {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 500ms;
    border: none;
    outline: none;
    cursor: pointer;
}

.button__close {
    border: none;
    outline: none;
    cursor: pointer;
}

.button__cart {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

@media (min-width: 900px) {
    .container {
        padding: 20px;
    }
    .search {
        width: 90%;
        padding-left: 20px;
    }
}
