.modal {
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    outline: none;
    position: relative;
    z-index: 11;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.icon__close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: all 500ms;
}

.icon__close:hover {
    transform: scale(1.3);
}

.content {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
}

.content__empty {
    text-align: center;
}

@media (min-width: 900px) {
    .modal {
        width: 850px;
        height: 550px;
    }
}