.modal {
    position: absolute;
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    outline: none;
    position: relative;
    z-index: 11;
}
